*{
  box-sizing: border-box;
}

::selection {
    color: white;
    background: black;
}

body {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    margin: 0;
}

a {
  text-decoration: none;
  /*color: inherit;*/
}
a:hover{
  color: #ac9963;
}

h1, h2, h3, h4, h5 {
  font-family: 'Press Start 2P', cursive;
}
h3 {
  font-size: 10px;
}
h1 {
  font-size: 18px;
}

#header{
  top:0px;
  position:fixed;
  height: 215px;
  padding-top: 13px;
  display:block;
  width: 100%;
  background: white;
  z-index:9;
  text-align:center;
  background-image: url("../img/topbg.png");
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-transition-duration: 500ms; /* Safari */
    transition-duration: 500ms;
}
/*#header:hover{
  background-color: black;
}*/

#topinfo{
  /*top: 13px;*/
  font-family: 'Press Start 2P', cursive;
  font-size: 8px;
  -webkit-transition-duration: 500ms; /* Safari */
    transition-duration: 500ms;
}
#topinfo table{
  margin: auto;
  width: 90%;
}
#logo{
  width: 334px;
  top: 85px;
  position: relative;
  -webkit-transition-duration: 500ms; /* Safari */
    transition-duration: 500ms;
}

#claim {
  position: absolute;
  z-index: 10;
  color: white;
  text-align: left;
  left: 83px;
  bottom: 20px;
  font-size: 1.4vw;
  line-height: 200%;
}
#leftwhite {
  position: absolute;
  z-index: 10;
  background-color: white;
  left: 0px;
  top:0;
  height: 100%;
  width: 50px;
}
#leftwhite img{
  position: absolute;
  bottom: 59px;
}


ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}

#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

.section{
  text-align:center;
  overflow: hidden;
}

#myVideo{
  position: absolute;
  right: 0px;
  padding-left: 50px;
  padding-top: 215px;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black; /* in case the video doesn't fit the whole page*/
    background-image: /* our video */;
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:3;
}

#signup{
  display: none;
  position: absolute;
  top: 220px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 90;
  background-color: none;
  width: 276px;
  height: 403px;
  background-image: url('../img/popbg.png');
  font-size: 15px;
}
#signup h3{
  text-align: right;
  margin-right: 20px;
  margin-top: 25px;
  cursor: pointer;
}
#signup h4{
  text-align: center;
  margin-top: 100px;
  line-height: 120%;
}
#signup p{
  text-align: center;
  margin-top: 20px;
  line-height: 130%;
}
#signup input{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 9px;
  font-family: 'Press Start 2P', cursive;
  color: grey;
  border: solid 1.25px black;
  padding-top: 5px;
  padding-bottom: 5px;
}
#signup a{
  text-align: center;
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  color: white;
  background-color: black;
  padding: 5px;
}

#signup a:hover{
  background-color: #ac9963;
}

#section0 .layer{
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 43%;

  /*
  * Preventing flicker on some browsers
  * See http://stackoverflow.com/a/36671466/1081396  or issue #183
  */
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/*solves problem with overflowing video in Mac with Chrome */
#section0{
  overflow: hidden;
}
/* Hiding video controls
* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
* --------------------------------------- */
video::-webkit-media-controls {
  display:none !important;
}

.pagination{
  width: 512px;
  border-top: 1px solid black;
  margin-top: 50px;
  text-align: right;
  font-size: 9px;
  font-family: 'Press Start 2P', cursive;
}
.pr{
  text-align: left;
  float:right;
}
.black {
  font-size: 18px;
  font-family: 'Press Start 2P', cursive;
  margin: 0px 0px 0px 50px;
  color: white;
  background-color: black;
  height: 782px;
  text-align: right;
  padding-right: 32px;
  padding-top: 10px;
  z-index: -1;
  position: absolute ;
  top:0;
  right: 0;
  left: 0;
}
.black img{
  position: absolute;
  top: 10px;
  left: 20px;
}
.foto{
  bottom: 0px;
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}
.left{
  float: left;
  margin-left: 82px;
  transform: translate(0,65px);
}
.right{
  float: right;
  margin-right: 0px;
  transform: translate(0,0px);
}

.fp-viewing-Produkte-0 .left{
  transform: translate(0,-65px);
}
.fp-viewing-Produkte-0 .right{
  transform: translate(0,230px);
}

.clear{
  clear: both;
}
#slide1{
  overflow: visible;
}
.fp-slides, .fp-scrollable, .fp-scroller{
  overflow: visible !important;
}
.fp-tableCell{
  display: block !important;
}

.info{
  border-left: solid 1px black;
  margin-left: 50px;
  margin-top: 0px;
  margin-right: 342px;
  margin-bottom: 0px;
  text-align: left;
  font-size: 18px;
  padding-left: 16px;
  line-height: 150%;
}
b{
  font-weight: 900;
}
.placeholder{
  min-height: 200px;
}
.text{
  font-size: 18px;
  line-height: 150%;
  text-align: left;
  width: 340px;
  margin-left: 91px;
}
.about{
  bottom: 0px;
  width: 100%;
  background-image: url("../img/aboutbg.jpg");
  background-size:100%;
  background-repeat: no-repeat;
  background-position: left bottom;
  bottom: 0px;
  position: absolute;
  top: 90px;
}
.why{
  bottom: 0px;
  width: 100%;
  background-image: url("../img/bottbg.png"), url("../img/whybg.jpg");
  background-size: 649px, 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, left top;
  bottom: 0px;
  position: absolute;
  top: 0px;
}
.textr{
  font-size: 18px;
  line-height: 150%;
  text-align: left;
  width: 488px;
  margin-left: 50%;
  margin-top: 90px;
  margin-bottom: 50px;
}
.achtungcont{
  background-color: black;
  margin-left: 50%;
}
.achtung{
  color: white;
  width: 508px;
  text-align: left;
  padding: 20px;

}
.achtung input{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 9px;
  font-family: 'Press Start 2P', cursive;
  color: grey;
  border: solid 1.25px white;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: black;
  margin-right: 19px;
}
.achtung a{
  text-align: center;
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  color: black;
  background-color: white;
  padding: 5px;
}
.achtung a:hover{
  background-color: #ac9963;
}

footer{
  margin-left: 50%;
  margin-top: 19px;
  text-align: left;
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
}
footer a{
  color: black;
}
footer ul li{
  display: inline-block;
}
footer li{
  text-align: center;
}
