*{
  box-sizing: border-box;
}

::selection {
    color: white;
    background: black;
}

body {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    margin: 0;
}

a {
  text-decoration: none;
  /*color: inherit;*/
}

h1, h2, h3, h4, h5 {
  font-family: 'Press Start 2P', cursive;
}
h3 {
  font-size: 10px;
}

#header{
  top:0px;
  position:fixed;
  height: 215px;
  padding-top: 13px;
  display:block;
  width: 100%;
  background: white;
  z-index:9;
  text-align:center;
  background-image: url("../img/topbg.png");
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}
/*#header:hover{
  background-color: black;
}*/

#topinfo{
  /*top: 13px;*/
  font-family: 'Press Start 2P', cursive;
  font-size: 8px;
  -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}
#topinfo table{
  margin: auto;
  width: 90%;
}
#logo{
  width: 334px;
  top: 85px;
  position: relative;
  -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}

#claim {
  position: absolute;
  z-index: 10;
  color: white;
  text-align: left;
  left: 83px;
  bottom: 20px;
  font-size: 1.4vw;
  line-height: 200%;
}
#leftwhite {
  position: absolute;
  z-index: 10;
  background-color: white;
  left: 0px;
  top:0;
  height: 100%;
  width: 50px;
}
#leftwhite img{
  position: absolute;
  bottom: 59px;
}


ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}

#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

.section{
  text-align:center;
  overflow: hidden;
}

#myVideo{
  position: absolute;
  right: 0px;
  padding-left: 50px;
  padding-top: 215px;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black; /* in case the video doesn't fit the whole page*/
    background-image: /* our video */;
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:3;
}

#signup{
  display: none;
  position: absolute;
  top: 220px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 90;
  background-color: none;
  width: 276px;
  height: 403px;
  background-image: url('../img/popbg.png');
  font-size: 15px;
}
#signup h3{
  text-align: right;
  margin-right: 20px;
  margin-top: 25px;
  cursor: pointer;
}
#signup h4{
  text-align: center;
  margin-top: 100px;
  line-height: 120%;
}
#signup p{
  text-align: center;
  margin-top: 20px;
  line-height: 130%;
}
#signup input{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 9px;
  font-family: 'Press Start 2P', cursive;
  color: grey;
  border: solid 1.25px black;
  padding-top: 5px;
  padding-bottom: 5px;
}
#signup a{
  text-align: center;
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  color: white;
  background-color: black;
  padding: 5px;
}

#section0 .layer{
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 43%;

  /*
  * Preventing flicker on some browsers
  * See http://stackoverflow.com/a/36671466/1081396  or issue #183
  */
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/*solves problem with overflowing video in Mac with Chrome */
#section0{
  overflow: hidden;
}
/* Hiding video controls
* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
* --------------------------------------- */
video::-webkit-media-controls {
  display:none !important;
}

.pagination{
  width: 512px;
  border-top: 1px solid black;
  margin-top: 50px;
  text-align: right;
  font-size: 9px;
  font-family: 'Press Start 2P', cursive;
}
.black {
  font-size: 18px;
  font-family: 'Press Start 2P', cursive;
  margin: 0px 0px 0px 50px;
  color: white;
  background-color: black;
  height: 782px;
  text-align: right;
  padding-right: 32px;
  padding-top: 10px;
}
.fotoleft{
  
}
